<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-10 col-md-10 col-sm-6">
                    <h3 class="card-title">Image View</h3>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-6">
                    <button class="button" (click)="back()">Back</button>
                </div>
            </div>
           
            <div class="column">
                <div class="col-lg-12 col-md-12 col-sm-6">
                    <div class="white-box text-center"><img src="{{id}}" class="img-responsive"></div>
                </div>
                <!-- <div class="col-lg-12 col-md-12 col-sm-6">
                    <h4 class="box-title mt-5">Product description</h4>
                    <p>{{(productDetail$ | async)?.description}}</p>
                    <h2 class="mt-5">
                        RM {{(productDetail$ | async)?.price}}
                    </h2>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-check text-success"></i>Rating: {{(productDetail$ | async)?.rating?.rate}}</li>
                        <li><i class="fa fa-check text-success"></i>Count: {{(productDetail$ | async)?.rating?.count}}</li>
                    </ul>
                </div> -->
            </div>
        </div>
    </div>
</div>
