
<div class="main-div">

    <form [formGroup]="taskForm">
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{id}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="{{id}}">
        <mat-card-content>

                <mat-form-field floatLabel="always" >
                    <mat-label>Task Assign</mat-label>
                    <input matInput formControlName="task">
                  </mat-form-field>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button (click)="back()">Cancel</button>
                    <button mat-button (click)="confirm()" type="button">Confirm</button>
                </mat-card-actions>
            </mat-card>
        </form>
</div>
